#app {
  #loader {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cccccc52;

    > div {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64px !important;
      height: 64px !important;
    }
  }

  #login {
    .v-card {
      width: 50%;
      margin: auto;
      margin-top: 10rem;
    }
  }
  
  .card-content {
    margin-top: 15px;
  }
}